.subheader {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 10px;
  background-color: #262932;
  border-radius: 8px;
  height: 80px;
  margin-left: 1.20rem;
  margin-right: 1.20rem;
}
