.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #1c2127;

  img {
    height: 30px;
  }

  .menu-items-left {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -300px;
  }

  .menu-items-right {
    display: flex;
    align-items: center;

    .profile-name {
      font-size: 1rem;
      font-weight: normal;
      padding-left: 4rem;
    }
  }
  .menu-items-left {
    h2 {
      margin: 0 15px;
      font-size: 1rem;
      font-weight: 100;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .menu-items-right {
    .profile {
      position: relative;
      width: 10rem;
      height: 3rem;
      margin-right: 15px;
      background-color: #12171d;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        top: 9px;
        left: 1rem;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
      }
    }

    svg {
      margin: 0 10px;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  hr {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
  }
}
